.body{   
    background-color: salmon;
    margin: 40px;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    border: 5px solid black;
   
}


.li{
    color: #333333;
    font-size: 19px;
    font-family: cursive;
}
.img {
    width: 50%;
}

.intro {
    background-color: darkmagenta;
    margin: 60px;
    max-height: inherit;
    max-width: inherit;
    line-height: 4.0;
    font-size: 26px;
    color: forestgreen;
    font-family: monospace;
}



.s {
    background-color: burlywood;
    width: 50%;
    height: 25%;
}

    
}


.pp {
    background-color: salmon;
    width: 50%;
    height: 50%;
}

.titre {
    font-family: sans-serif;
    color: red;
}

.fab fa-facebook-f fa-10x {
    margin-bottom: 50px 0;
    background-color: green;
    width: 150px;
    height: 150px;
    text-align: center;
}

.fab fa-instagram {
    margin-top: 50px;
    background-color: azure;
    width: 100%;
    text-align: center;
}

.fab fa-twitter fa-spin {
     margin-top: 50px;
    background-color: azure;
    width: 100%;
    text-align: center;
}